<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class = "ion-padding">
  <h1>Login</h1>

  <ion-list>

  <ion-item>
    <ion-label>Username:  </ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password: </ion-label>
    <ion-input></ion-input>
  </ion-item>

   <ion-item>
    <ion-label>Remember Login</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>

</ion-list>

  <ion-button shape = "round" size= "large" color= "success" (click) = "login()"><ion-text color="light">
  Login
</ion-text><ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button><br>

  <ion-text>Login attempts: {{loginCount}}</ion-text>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Login page"></app-explore-container>
</ion-content>
