<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
	<ion-list>
  <ion-item>
    <ion-label>Sankit Man Shrestha</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Kabindra Man Shrestha</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Ananda Shahi Shrestha</ion-label>
  </ion-item>
   <ion-item>
    <ion-label>Sejika Shakya Shrestha</ion-label>
  </ion-item>
</ion-list>

</ion-content>
